include README.rst LICENSE
include requirements.txt
include nmrstarlib/conf/*.json
include docs/Makefile
recursive-include docs *.rst *.txt *.py *.png *.svg
recursive-include nmrstarlib *.py *.pyx *.c
